p {
    color: rgb(134, 105, 87);
  }
  h1 {
    color: rgb(93, 72, 58);
  }
  h2 {
    color:rgb(93, 72, 58);
  }
body {
    background: rgb(247, 216, 196);
}
li {
  color:(134, 105, 87)
}